@using Microsoft.AspNetCore.Identity
@model Insect_Tracker.Models.Project
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Projects";
    Layout = "_LayoutDashboard";
}

<h1 class="mt-4">Create Project</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="~/">Home</a></li>
    <li class="breadcrumb-item"><a href="~/Projects/">Projects</a></li>
    <li class="breadcrumb-item active">New Project</li>
</ol>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Users" class="control-label">Assign this project to users:</label>
                <select asp-for="Users" class="form-select" multiple>
                    @foreach (ApplicationUser user in UserManager.Users.ToList())
                    {
                        <option value="@user.Id">@user.FirstName @user.LastName</option>
                    }
                </select>
                <div id="selectHelp" class="form-text">Press CTRL to select or deselect multiple users.</div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>