@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["title"] = "Role Manager";
    Layout = "_LayoutDashboard";
}

<h1 class="mt-4">Role Manager</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="~/">Home</a></li>
    <li class="breadcrumb-item active">Roles</li>
</ol>

<form method="POST" asp-action="AddRole" asp-controller="UserRole">
    <div class="input-group">
        <input name="roleName" class="form-control w-25" />
        <span class="input-group-btn">
            <button class="btn btn-info">Add new role</button>
        </span>
    </div>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>