@model TicketInputModel

@{
    ViewData["Title"] = "Tickets";
    Layout = "_LayoutDashboard";
}

<h1 class="mt-4">Tickets</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="~/">Home</a></li>
    <li class="breadcrumb-item"><a href="~/Tickets/">Tickets</a></li>
    <li class="breadcrumb-item active">New ticket</li>
</ol>


<div class="col-sm-6">
    <form asp-action="Create" method="POST" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group mb-3">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <label asp-for="File" class="form-label">Attachment:</label>
        <div id="add-attachment" class="input-group mb-3">
            <input type="file" name="files" asp-for="File" class="form-control" multiple>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-primary">Cancel</a>
        </div>
    </form>
</div>